/*!
 * Weather Icons Lite v1.6.0
 * Weather themed icons for Bootstrap
 * Author - Paul Reed
 * Maintained at https://github.com/Paul-Reed/weather-icons-lite
 * Description - A lighweight version of Weather Icons
 * Credit to Erik Flowers - erik@helloerik.com
 *
 */
@font-face {
  font-family: 'weather-icons-lite';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/weather-icons-lite.woff2') format('woff2'),
       url('../fonts/weather-icons-lite.woff') format('woff'),
       url('../fonts/weather-icons-lite.ttf') format('truetype'),
       url('../fonts/weather-icons-lite.eot') format('embedded-opentype');
}
.wi {
  display: inline-block;
  font-family: 'weather-icons-lite';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.wi-lg {
    font-size: 1.33333em;
    line-height: 0.75em;
    vertical-align: -.0667em;
}
.wi-xs {
    font-size: .75em;
}
.wi-sm {
    font-size: .875em;
}
.wi-1x {
    font-size: 1em;
}
.wi-2x {
    font-size: 2em;
}
.wi-3x {
    font-size: 3em;
}
.wi-4x {
    font-size: 4em;
}  
.wi-5x {
    font-size: 5em;
}  
.wi-6x {
    font-size: 6em;
}  
.wi-7x {
    font-size: 7em;
}  
.wi-8x {
    font-size: 8em;
}  
.wi-9x {
    font-size: 9em;
}  
.wi-10x {
    font-size: 10em;
}
.wi-fw {
  text-align: center;
  width: 1.4em;
}
.wi-rotate-0,.wi-rotate-N,.wi-towards-N,.wi-from-S {
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}
.wi-rotate-23,.wi-rotate-NNE,.wi-towards-NNE,.wi-from-SSW {
  -webkit-transform: rotate(23deg);
  -ms-transform: rotate(23deg);
  transform: rotate(23deg);
}
.wi-rotate-45,.wi-rotate-NE,.wi-towards-NE,.wi-from-SW {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.wi-rotate-68,.wi-rotate-ENE,.wi-towards-ENE,.wi-from-WSW {
  -webkit-transform: rotate(68deg);
  -ms-transform: rotate(68deg);
  transform: rotate(68eg);
}
.wi-rotate-90,.wi-rotate-E,.wi-towards-E,.wi-from-W {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.wi-rotate-113,.wi-rotate-ESE,.wi-towards-ESE,.wi-from-WNW { 
  -webkit-transform: rotate(113deg);
  -ms-transform: rotate(113deg);
  transform: rotate(113deg);
}
.wi-rotate-135,.wi-rotate-SE,.wi-towards-SE,.wi-from-NW { 
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
}
.wi-rotate-158,.wi-rotate-SSE,.wi-towards-SSE,.wi-from-NNW { 
  -webkit-transform: rotate(158deg);
  -ms-transform: rotate(158deg);
  transform: rotate(158deg);
}
.wi-rotate-180,.wi-rotate-S,.wi-towards-S,.wi-from-N {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.wi-rotate-203,.wi-rotate-SSW,.wi-towards-SSW,.wi-from-NNE {
  -webkit-transform: rotate(203deg);
  -ms-transform: rotate(203deg);
  transform: rotate(203deg);
}
.wi-rotate-225,.wi-rotate-SW.wi-towards-SW,.wi-from-NE {
  -webkit-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  transform: rotate(225deg);
}
.wi-rotate-248,.wi-rotate-WSW.wi-towards-WSW,.wi-from-ENE {
  -webkit-transform: rotate(248deg);
  -ms-transform: rotate(248deg);
  transform: rotate(248deg);
}
.wi-rotate-270,.wi-rotate-W,.wi-towards-W,.wi-from-E{
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}
.wi-rotate-293,.wi-rotate-WNW.wi-towards-WNW,.wi-from-ESE {
  -webkit-transform: rotate(293deg);
  -ms-transform: rotate(293eg);
  transform: rotate(293deg);
}
.wi-rotate-315,.wi-rotate-NW,.wi-towards-NW,.wi-from-SE {
  -webkit-transform: rotate(315deg);
  -ms-transform: rotate(315deg);
  transform: rotate(315deg);
}
.wi-rotate-338,.wi-rotate-NNW,.wi-towards-NNW,.wi-from-SSE {
  -webkit-transform: rotate(338deg);
  -ms-transform: rotate(338deg);
  transform: rotate(338deg);
}
.wi-flip-horizontal {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0, 
mirror=1);
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.wi-flip-vertical {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1);
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1);
}
.wi-darksky-clear-day:before {
  content: "\f00d";
}
.wi-darksky-clear-night:before {
  content: "\f02e";
}
.wi-darksky-rain:before {
  content: "\f019";
}
.wi-darksky-snow:before {
  content: "\f01b";
}
.wi-darksky-sleet:before {
  content: "\f0b5";
}
.wi-darksky-wind:before {
  content: "\f050";
}
.wi-darksky-fog:before {
  content: "\f014";
}
.wi-darksky-cloudy:before {
  content: "\f013";
}
.wi-darksky-partly-cloudy-day:before {
  content: "\f002";
}
.wi-darksky-partly-cloudy-night:before {
  content: "\f086";
}
.wi-darksky-hail:before {
  content: "\f015";
}
.wi-darksky-thunderstorm:before {
  content: "\f01e";
}
.wi-darksky-tornado:before {
  content: "\f056";
}
.wi-owm-01d:before {
  content: "\f00d";
}
.wi-owm-02d:before {
  content: "\f00c";
}
.wi-owm-03d:before {
  content: "\f002";
}
.wi-owm-04d:before {
  content: "\f013";
}
.wi-owm-09d:before {
  content: "\f017";
}
.wi-owm-10d:before {
  content: "\f019";
}
.wi-owm-11d:before {
  content: "\f01e";
}
.wi-owm-13d:before {
  content: "\f01b";
}
.wi-owm-50d:before {
  content: "\f014";
}
.wi-owm-01n:before {
  content: "\f02e";
}
.wi-owm-02n:before {
  content: "\f081";
}
.wi-owm-03n:before {
  content: "\f07e";
}
.wi-owm-04n:before {
  content: "\f086";
}
.wi-owm-09n:before {
  content: "\f026";
}
.wi-owm-10n:before {
  content: "\f028";
}
.wi-owm-11n:before {
  content: "\f02c";
}
.wi-owm-13n:before {
  content: "\f02a";
}
.wi-owm-50n:before {
  content: "\f04a";
}
.wi-wu-chanceflurries:before {
  content: "\f064";
}
.wi-wu-chancerain:before {
  content: "\f019";
}
.wi-wu-chancesleet:before {
  content: "\f0b5";
}
.wi-wu-chancesnow:before {
  content: "\f01b";
}
.wi-wu-chancetstorms:before {
  content: "\f01e";
}
.wi-wu-clear:before {
  content: "\f00d";
}
.wi-wu-cloudy:before {
  content: "\f002";
}
.wi-wu-flurries:before {
  content: "\f064";
}
.wi-wu-fog:before {
  content: "\f014";
}
.wi-wu-hazy:before {
  content: "\f0b6";
}
.wi-wu-mostlycloudy:before {
  content: "\f002";
}
.wi-wu-mostlysunny:before {
  content: "\f00c";
}
.wi-wu-partlycloudy:before {
  content: "\f002";
}
.wi-wu-partlysunny:before {
  content: "\f002";
}
.wi-wu-rain:before {
  content: "\f01a";
}
.wi-wu-sleet:before {
  content: "\f0b5";
}
.wi-wu-snow:before {
  content: "\f01b";
}
.wi-wu-sunny:before {
  content: "\f00d";
}
.wi-wu-tstorms:before {
  content: "\f01e";
}
.wi-wu-nt_chanceflurries:before {
  content: "\f067";
}
.wi-wu-nt_chancerain:before {
  content: "\f028";
}
.wi-wu-nt_chancesleet:before {
  content: "\f0b4";
}
.wi-wu-nt_chancesnow:before {
  content: "\f02a";
}
.wi-wu-nt_chancetstorms:before {
  content: "\f02d";
}
.wi-wu-nt_clear:before {
  content: "\f02e";
}
.wi-wu-nt_flurries:before {
  content: "\f067";
}
.wi-wu-nt_fog:before {
  content: "\f04a";
}
.wi-wu-nt_hazy:before {
  content: "\f07e";
}
.wi-wu-nt_mostlycloudy:before {
  content: "\f081";
}
.wi-wu-nt_mostlysunny:before {
  content: "\f02e";
}
.wi-wu-nt_partlycloudy:before {
  content: "\f081";
}
.wi-wu-nt_partlysunny:before {
  content: "\f086";
}
.wi-wu-nt_rain:before {
  content: "\f028";
}
.wi-wu-nt_sleet:before {
  content: "\f0b4";
}
.wi-wu-nt_snow:before {
  content: "\f02a";
}
.wi-wu-nt_sunny:before {
  content: "\f02e";
}
.wi-wu-nt_tstorms:before {
  content: "\f02d";
}
.wi-wu-nt_cloudy:before {
  content: "\f031";
}
.wi-moon-wax-cres-dark:before {
  content: "\f0de";
}
.wi-moon-first-quart-dark:before {
  content: "\f0df";
}
.wi-moon-wax-gibb-dark:before {
  content: "\f0e0";
}
.wi-moon-full-dark:before {
  content: "\f0e1";
}
.wi-moon-wan-gibb-dark:before {
  content: "\f0da";
}
.wi-moon-third-quart-dark:before {
  content: "\f0db";
}
.wi-moon-wan-cres-dark:before {
  content: "\f0dc";
}
.wi-moon-new-dark:before {
  content: "\f0dd";
}
.wi-moon-wax-cres:before {
  content: "\f0da";
}
.wi-moon-first-quart:before {
  content: "\f0db";
}
.wi-moon-wax-gibb:before {
  content: "\f0dc";
}
.wi-moon-full:before {
  content: "\f0dd";
}
.wi-moon-wan-gibb:before {
  content: "\f0de";
}
.wi-moon-third-quart:before {
  content: "\f0df";
}
.wi-moon-wan-cres:before {
  content: "\f0e0";
}
.wi-moon-new:before {
  content: "\f0e1";
}
